page-about {
    @import "theme/variables.scss";

    .about-card{
        color: #fff;

        .about-card-title{
            background: $primary;
            font-size: 2.5em;
            text-transform: uppercase;
            padding: 0.5em;
            
            & .card-title-border{
                border-bottom:2px solid #fff;                
                margin-left: -20px;
                width: 90%;
            }
        }
        .about-card-body{
            background: $secondary;
            font-size: 1.5em;
            font-weight: bold;
            padding: 1em 0.5em;
            text-align: left;
        }
        .about-card-footer{
            width: 100%;
            text-align: right;
            background-color: $secondary;            
            & button, a {
                background: $secondary;
                color:#fff;
                border:0.5px solid #fff;               
                padding:0.4em;
                margin-top: 10px;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}
