<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar color="primary">
    <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
    <ion-title>
      <img src="assets/img/logo-solaris.png" alt="SOLARIS" class="logo">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-light">
  <div class="about-card">
    <div class="about-card-title">
      SOMOS A SOLARIS
      <div class="card-title-border"></div>
    </div>
    <div class="about-card-body">
        Possuímos uma grande variedade de
        equipamentos para venda e locação 
        em diversos ramos, como indústria, 
        construção, serviços e entretenimento, 
        sempre maximizando benefícios e reduzindo
        riscos. Para alcançar o sucesso neste 
        processo, vários fatores são fundamentais, 
        entre eles a nossa rede que conta com 21 filiais
        distribuídas pelo país e a alta qualidade dos nossos 
        equipamentos e serviços técnicos.

        <div class="about-card-footer">
          <a href="http://www.solarisbrasil.com.br/somos-solaris#somossolaris" target="_blank">
            Leia mais
          </a>
        </div>

    </div>
   
  </div>
</ion-content>