page-affiliated {
    .subsidiaries-title {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;        
        border-bottom: 3px solid #333;

        &:before {
            content: "";
            position: absolute;
            background: #333;
            width: 10px;
            height: 10px;
            left:4%;
            top:31.8%;
            display: none;
        }

        &:after {
            content: "";
            position: absolute;
            background: #333;
            width: 10px;
            height: 10px;
            right:4%;
            top:31.8%;
            display: none;
        }
    }
    .dropdow-solaris{
        border-bottom: 2px solid #ff9400;        
        display: inline-block;        
        background: #e4e4e4;    
        margin-bottom: 15px;
    }

    ion-list .item{
        background: transparent;
        border-bottom: 1px solid #333;    
        padding: 0;    
        
        & .show-modal{
            cursor: pointer;
        }
    }
    .arrow-icon {
        float: right;
        font-size: 1.2em;
    }
    
}
