<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>filiais</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg-light">
  <div class="container">
    <ion-tabs tabsPlacement="top" tabsHighlight="false">
      <ion-tab [root]="tabAffiliatedList" [tabTitle]="tabTitleList"></ion-tab>
      <ion-tab [root]="tabAffiliatedMap" [tabTitle]="tabTitleMap"></ion-tab>
    </ion-tabs>
  </div>

</ion-content>