<ion-tabs>
    <ion-tab [root]="affiliatedListRoot" tabTitle="Affiliated list" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="affiliatedMapRoot" tabTitle="Affiliated map" tabIcon="information-circle"></ion-tab>
</ion-tabs>
