<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{item.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bg-light">
  <div class="container">
    <div class="product-banner">

      <ion-slides #slides *ngIf="item.productImages.length>0" pager="true">
        <ion-slide *ngFor="let banner of item.productImages">
          <img [src]="banner.imageName" alt="item.name" #currentImage *ngIf="item.productImages.length>0" (click)="openModal(currentImage)"/>
        </ion-slide>
      </ion-slides>

      <img [src]="item.image" alt="item.name" #currentImage *ngIf="item.productImages.length==0" (click)="openModal(currentImage)"/>
      <!-- 
      <div class="slides-nav hide">
        <button ion-button icon-only class="prev-arrow" (click)="prevSlide()"> 
          &#8249;
        </button>

        <button ion-button icon-only class="next-arrow" (click)="nextSlide()">
          &#8250;
        </button>
      </div> -->

    </div>
    <div class="product-details">


      <div class="item-description">

        <div class="item-description-header">
          <h2>{{item.name}}</h2>
          <p>{{item.category}}</p>
          <span>
            {{item.body}}
          </span>
        </div>

        <div class="item-description-table">
          <ion-grid>
            <div *ngFor="let datashet of item.productDetails">
              <ion-row>
                <ion-col col-10>
                  {{datashet.campo}}
                </ion-col>
                <ion-col col-2>
                  <span>
                    {{datashet.descricao}}
                  </span>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </div>

        <div class="item-description-form hide">
          <form>
            <div class="checkbox-form">
              <ion-item>
                <ion-label>Locação</ion-label>
                <ion-checkbox secondary></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-label>Venda novo</ion-label>
                <ion-checkbox secondary></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label class="c">
                  Observação: Altura de trabalho =
                  <br> Altura da plataforma + 1,80m do Operador.
                </ion-label>
              </ion-item>
            </div>
            <div class="cart-form">
              <ion-item>
                <ion-input type="number" placeholder="quantidade" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="date" placeholder="data de início" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="date" placeholder="data de término" required></ion-input>
              </ion-item>

              <ion-item class="no-background">
                <button ion-button type="submit" color="primary" (click)="addToCart()">
                  adicionar
                  <ion-icon name="cart"></ion-icon>
                </button>
              </ion-item>

            </div>

          </form>
        </div>

      </div>

    </div>

  </div>


</ion-content>
