<!--
  Generated template for the SimulatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SIMULADOR</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-light">
  <!-- <h1 class="loading">EM BREVE</h1> -->

  <div class="simulator-header page-title-solaris">
    <h2>A Solaris tem o equipamento ideal para você</h2>
    <p>
      Descubra qual o equipamento perfeito para sua 
      situação em apenas alguns passos com a nossa 
      ferramentda de simulação.
    </p>
    
  </div>
  
  <div class="container-step">
    <div class="step-navigation" (click)="prevStep()" *ngIf="step !== 0">
      &#8249; voltar
    </div>

    <div class="step-title">
      {{stepTitle}}
      <!-- TITULO DO STEP -->
    </div>

    <div class="step-content">
      <!-- Qual o tipo de situação você procura?" -->
      <div *ngIf="step == 0">

        <button ion-button (click)="selectType('locação')" >
          Locação
        </button>

        <button ion-button secondary (click)="selectType('Venda Novos')">
          Venda Novos
        </button>

        <button ion-button secondary (click)="selectType('Venda Seminovos')">
          Venda Seminovos
        </button>

      </div>
      <!-- Escolha o item Categoria: -->
      <div *ngIf="step == 1">
        
        <button ion-button (click)="selectCategory('Plataformas Aéreas')" >
          Plataformas Aéreas
        </button>

        <button ion-button secondary (click)="selectCategory('Manipuladores Telescópicos')">
          Manipuladores Telescópicos
        </button>

        <button ion-button secondary (click)="selectCategory('Geradores de Energia')">
          Geradores de Energia
        </button>
        
      </div>
      <!-- Escolha o item Ambiente: -->
      <div *ngIf="step == 2">
        
        <button ion-button (click)="selectEnvironment('Externo - Diesel')" >
          Externo - Diesel
        </button>

        <button ion-button secondary (click)="selectEnvironment('Interno - Elétrico')">
          Interno - Elétrico
        </button>
        
      </div>
      <!-- Escolha o item Categoria de Ambiente: -->
      <div *ngIf="step == 3">
        
        <button ion-button (click)="selectEnvironmentCategory('Plano')" >
          Plano
        </button>

        <button ion-button secondary (click)="selectEnvironmentCategory('Desnivelado')">
          Desnivelado
        </button>

        <button ion-button secondary (click)="selectEnvironmentCategory('Compressível (mole)')">
          Compressível (mole)
        </button>
        
      </div>
      <!-- Escolha o item Aplicação: -->
      <div class="step-double-buttons" *ngIf="step == 4">
        
        <button ion-button (click)="selectApplication('Manutenção')" >
          Manutenção
        </button>

        <button ion-button secondary (click)="selectApplication('Instalação')">
          Instalação
        </button>

        <button ion-button secondary (click)="selectApplication('Montagem (mole)')">
          Montagem
        </button>

        <button ion-button (click)="selectApplication('Construção')" >
          Construção
        </button>

        <button ion-button secondary (click)="selectApplication('Indústria')">
          Indústria
        </button>
        
      </div>
      <!--Escolha o item Altura de Trabalho (m):   -->
      <div class="step-double-buttons" *ngIf="step == 5">
        
        <button ion-button (click)="selectHeight('7m - 13m')" >
          7m - 13m
        </button>

        <button ion-button secondary (click)="selectHeight('25m - 31m')">
          25m - 31m
        </button>

        <button ion-button secondary (click)="selectHeight('13m - 19m')">
          13m - 19m
        </button>

        <button ion-button (click)="selectHeight(' 37m - 43m')" >
          37m - 43m
        </button>

        <button ion-button secondary (click)="selectHeight(' 19m - 25m')">
          19m - 25m
        </button>

        <button ion-button secondary (click)="selectHeight(' 43m - 49m')">
          43m - 49m
        </button>

        <button ion-button secondary (click)="selectHeight('55m - 61m')">
          55m - 61m
        </button>
        
      </div>
      <!-- Informe o Modelo: -->
      <div class="step-with-description" *ngIf="step == 6">
        
        <button ion-button (click)="selectModel('81 KVA - C65 D6 4')" >
          81 KVA          
          <span>
            C65 D6 4
          </span>
        </button>

        <button ion-button secondary (click)="selectModel(' 140 KVA - c110 D6 4')">
          140 KVA          
          <span>
            c110 D6 4
          </span>
        </button>

        <button ion-button secondary (click)="selectModel('170 KVA - C135 D6 4')">
          170 KVA          
          <span>
            C135 D6 4
          </span>
        </button>

        <button ion-button (click)="selectModel('212 KVA - C170 D6 4')" >
          212 KVA          
          <span>
            C170 D6 4
          </span>
        </button>

        <button ion-button secondary (click)="selectModel('260 KVA - C200 D6 4')">
          260 KVA          
          <span>
            C200 D6 4
          </span>
        </button>

        <button ion-button secondary (click)="selectModel('360 KVA - C275 D6 4')">
          360 KVA          
          <span>
            C275 D6 4
          </span>
        </button>

        <button ion-button secondary (click)="selectModel('375 KVA - C300 D6 4')">
          375 KVA          
          <span>
            C300 D6 4
          </span>
        </button>

        <button ion-button secondary (click)="selectModel('450 KVA - C300 D6 4')">
          450 KVA          
          <span>
            C350 D6 4
          </span>
        </button>

        <button ion-button secondary (click)="selectModel('500 KVA - C300 D6 4')">
          500 KVA          
          <span>
            C400 D6 4
          </span>
        </button>

        <button ion-button secondary (click)="selectModel('625 KVA - C300 D6 4')">
          625 KVA          
          <span>
            C500 D6 4
          </span>
        </button>

        <button ion-button secondary (click)="selectModel('1250 KVA - C300 D6 4')">
          1250 KVA          
          <span>
            C1000 D6 4
          </span>
        </button>

        <button ion-button secondary (click)="selectModel('1563 KVA - C300 D6 4')">
          1563 KVA          
          <span>
            C1250 D6 4
          </span>
        </button>

        
      </div>
      <!-- Dados de utilização -->
      <div *ngIf="step == 7">

        <ion-item class="dropdow-solaris">
          <ion-label>Tensão</ion-label>
          <ion-select 
            [(ngModel)]="tension" 
            multiple=false 
            interface="popover"
            okText="OK"
            cancelText="Cancelar"
            >
            <ion-option *ngFor="let tension of tensions" [value]="tension">{{tension.name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="dropdow-solaris">
          <ion-label>Frequência</ion-label>
          <ion-select 
            [(ngModel)]="frequency" 
            multiple=false 
            interface="popover"
            okText="OK"
            cancelText="Cancelar"
            >
            <ion-option *ngFor="let frequency of frequencies" [value]="frequency">{{frequency.name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="dropdow-solaris">
          <ion-label>Autonomia [em horas]</ion-label>
          <ion-select 
            [(ngModel)]="autonomy" 
            multiple=false 
            interface="popover"
            okText="OK"
            cancelText="Cancelar"
            >
            <ion-option *ngFor="let autonomy of autonomies" [value]="autonomy">{{autonomy.name}}</ion-option>
          </ion-select>
        </ion-item>

        <button ion-button secondary (click)="selectUtilizationData()">
          OK
        </button>
          
      </div>

      <!-- Precisa de Acessórios -->
      <div *ngIf="step == 8">
        <button ion-button secondary (click)="selectNeedAcessory(true)">
          SIM
        </button>
        <button ion-button secondary (click)="selectNeedAcessory(false)">
          NÃO
        </button>
      </div>

      <div *ngIf="step == 9">
        
        <ion-list class="step-with-toggles">
          <ion-grid>

            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label>Cabos</ion-label>
                  <ion-toggle [(ngModel)]="cables"></ion-toggle>
                </ion-item>
              </ion-col>
              <ion-col col-12>
                <ion-item>
                  <ion-label>QTM</ion-label>
                  <ion-toggle [(ngModel)]="qtm"></ion-toggle>
                </ion-item>
              </ion-col>
             
            </ion-row>

            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label>QTA</ion-label>
                  <ion-toggle [(ngModel)]="qta"></ion-toggle>
                </ion-item>
              </ion-col>
            
              <ion-col col-12>
                <ion-item>
                  <ion-label>Corta-chamas</ion-label>
                  <ion-toggle [(ngModel)]="flames"></ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label>Transformadores</ion-label>
                  <ion-toggle [(ngModel)]="transformers"></ion-toggle>
                </ion-item>
              </ion-col>
              <ion-col col-12>
                <ion-item>
                  <ion-label>Tanque externo</ion-label>
                  <ion-toggle [(ngModel)]="externalTank"></ion-toggle>
                </ion-item>
              </ion-col>
              <ion-col col-12>
                <ion-item>
                  <ion-label>Extintor de incêndio</ion-label>
                  <ion-toggle [(ngModel)]="fireExtinguisher"></ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>     


          </ion-grid>          
        </ion-list>

        <button ion-button (click)="selectAcessory()">
          OK
        </button>

      </div>

      <div *ngIf="step == 10">
        <ion-grid>

        <div class="simulator-product">
          <ion-row> 
            <ion-col col-6>
                <img src="http://admin.solarisbrasil.com.br/uploads/documents/Gerador-Geral.jpg" alt=" prod img">
            </ion-col>
            <ion-col col-6>
              <div class="product-title">
                81 KVA <br>
                C65 D6 4
              </div>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col col-12>
              <div class="product-acessories">

                <div class="acessory-title">
                  Acessórios:
                </div>
                <div class="acessory-description">
                  04 vabos de 25M x 120mm2, 01 de contenção, 01 extintor
                </div>

              </div>

            </ion-col>
          </ion-row>

          <button ion-button (click)="requestProposal()">
                SOLICITAR PROPOSTA
          </button>
        </div>

        <div class="simulator-product">
            <ion-row> 
              <ion-col col-6>
                  <img src="http://admin.solarisbrasil.com.br/uploads/documents/Gerador-Geral.jpg" alt=" prod img">
              </ion-col>
              <ion-col col-6>
                <div class="product-title">
                  85 KVA <br>
                  C66 D7 5
                </div>
              </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col col-12>
                <div class="product-acessories">
  
                  <div class="acessory-title">
                    Acessórios:
                  </div>
                  <div class="acessory-description">
                    04 vabos de 25M x 120mm2, 01 de contenção, 01 extintor
                  </div>
  
                </div>
  
              </ion-col>
            </ion-row>
  
            <button ion-button>
                  SOLICITAR PROPOSTA
            </button>
          </div>
          
        </ion-grid>
      </div>

  

    </div> <!-- fim step-content -->
    

  </div>

  <!-- <button ion-button pimary (click)="prevStep()" *ngIf="step !== 0">
   < ANTERIOR
  </button>

  <button ion-button pimary (click)="nextStep()" *ngIf="step !== 10" right>
    PRÓXIMO >
  </button> -->




</ion-content>
