page-simulator {
    @import "theme/variables.scss";

    .simulator-header{
        text-align: center;
        
        color: #333;
    }
    .container-step{
        background: $primary;
        color: #fff;
        padding: 0.5em 0.5em;

        & .step-navigation {
            padding: 0.5em 0em;
            font-size: 1.5em;
            font-weight: 500;
        }

        & .step-title{
           font-size: 1.8em;
           text-align: center;
           padding: 0 0 0.8em 0;
           border-bottom: 1px solid #fff;
           width: 80%;
           margin: auto;
        }

        & .step-content {
            text-align: center;
            padding: 1em 0;

            & button {
                background: $secondary;
                text-transform: capitalize;
                display: block;
                margin: 10px auto;
                width: 70%;
                 & .button-inner {
                     font-size: 1.5em;
                 }
            }

            & .step-double-buttons{
                & button {
                    width: 45%;
                    margin:10px 5px;
                    display: inline-block;
                }
            }

            & .step-with-description{
                & button {
                    width: 45%;
                    margin:10px 5px;
                    display: inline-block;

                    & .button-inner {
                        & div {
                          display: block;
                        }
                        
                        & span {
                            display: block;
                            font-size: 0.8em;
                            margin-left: 0.3em;
                        }

                    }
                }
            }


            .dropdow-solaris{
                width: 80%;
                margin:10px auto;

                & button {
                    background: none;
                    background-color: none;
                }
            }

            .step-with-toggles {
                & button {
                    background: none;
                    background-color: none;
                }   
                & ion-item {
                    background: none;
                    color:#fff;
                    outline:none;
                    border:none;
                }
                & .item-inner{
                    border:none;
                }
            }
          
        }

        // resultado 

        .simulator-product {
            border-bottom: 1px solid #fff;
            padding:0.8em 0;
            & .product-title{
                font-weight: 500;
                font-size: 2.5em;
                padding: 0.9em 0;
            }

            & .product-acessories {
                text-align: left;

                & .acessory-title {
                    font-weight: 500;
                    font-size: 1.9em;
                }

                & .acessory-description{
                    font-size: 1.2em;
                }

                
            }
        }
    }

}
