page-cart {
    .cart {
        background: #e4e4e4;
        width:96%;
        margin: auto;
        .product-item{
            margin-top: -30px;
            margin-bottom: 40px;

            .product-image img {
                border-radius: 12px;
                background: #fff;
            }

            .product-info{
               h2{
                   font-weight: 500;  
                   font-size: 1.2em;             
                   margin-top: 5px;
               }
               p{
                   font-size: 1.2em;
                   line-height: 1em;
               } 

               button{
                   border-radius: 50%;
                   background: #ff9400;
                   color:#ebe9e6;
                   font-size: 2em;
                   font-family: 'sans-serif';
                   font-weight: bold;
                   float: right;
                   position: absolute;
                   right: -10px;
                   top:50px;
                   padding:5px 5px;
               }
            }

        }

        .cart-footer{
            position: static;
            bottom: 15px;
            font-size: 1.5em;
            & button {
                margin-top:-10px;
                text-transform: lowercase;
            }
        }

    }
}
