<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>CARRINHO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-light">
  <div class="page-title-solaris">
    <h2>
      Meu carrinho para cotação
    </h2>
    <p>
      Confira os equipamento para cotação:
    </p>
  </div>

  <div class="container">
    <div class="cart">
      <ion-grid>
        <!-- *ngFor="let product of currentItems" -->
        <div *ngFor="let product of cartItems">

          <ion-row class="product-item">
            <ion-col class="product-image">
              <img [src]="product.image" alt="" />
            </ion-col>

            <ion-col class="product-info">

              <h2>VENDA NOVO {{product.disponibility.name}}</h2>
              <p>{{product.category}} - {{product.name}}</p>
              <p><b>Quantidade: </b>1 </p>
              <p>
                Início: <b>06/09/2016</b> Término:
                <b>10/09/2016</b>
              </p>
              <button ion-button color="primary" (click)="deleteItem(product)">
                &times;            
              </button>

            </ion-col>

          </ion-row>

    


        </div>

        <ion-row class="cart-footer">
            <ion-col col6>
              <button class="btn text-underline" (click)="goToCatalog()">
                Adicionar mais equipamentos
              </button>
            </ion-col>

            <ion-col col6>
                <button ion-button class="btn btn-secondary" (click)="closeQuote()">
                  finalizar cotatação
                </button>
            </ion-col>
            
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>