<!--
  Generated template for the CatalogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Catálogo</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

  <ion-searchbar (ionInput)="filterProducts($event)" placeholder="Nome, Modelo, Serie" animated="true" showCancelButton="true" debounce="700" autocorrect="off"></ion-searchbar>
</ion-header>


<ion-content padding>
  <!-- <h1 class="loading">EM BREVE</h1> -->
  <div class="container">
    <div class="product-catalog">

      <ion-grid>

        <div *ngFor="let product of currentItems">

          <ion-row class="product-item">
            <ion-col class="product-image">
              <img [src]="product.image" alt="" />
            </ion-col>

            <ion-col class="product-info">

              <h2>{{product.name}}</h2>
              <p>{{product.metaTitle}}</p>
              <button ion-button color="primary" (click)="openItem(product)">
                veja mais
                <span class="next-icon"> &#8250; </span>
              </button>

            </ion-col>

          </ion-row>


        </div>

      </ion-grid>
      <!--       
    <div ng-if="currentItems.length === 0">
      <h3 class="loading">
        Carregando
      </h3>
    </div> -->

    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar class="toolbar-footer">
    <ion-select [(ngModel)]="category" (ionChange)="filterProductsWithCategory(category)" cancelText="Cancelar" placeholder="Selecione uma categoria"
      interface="action-sheet" style="border: 1px solid #ff9400; background-color: #fff;">
      <ion-option *ngFor="let category of prodcategories" [value]="category.id">{{category.title}}</ion-option>
    </ion-select>
  </ion-toolbar>
</ion-footer>
