page-catalog {
  .product-item {
    margin-bottom: 30px;
    border: {
      style: solid;
      bottom: {
        width: 1px;
        color: #008753; //#0087532e
      }
      left: {
        width: 0;
        color: transparent; //#0087532e
      }
      right: {
        width: 0;
        color: transparent; //#0087532e
      }
      top: {
        width: 0;
        color: transparent; //#0087532e
      }
    }
  }
  .toolbar-footer {
    width: 220% !important;
  }
}
