<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CONTATO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-light">
  <!-- <h1 class="loading">EM BREVE</h1> -->
  <ion-list>
    <ion-item>
      <div class="item-header">
        SOBRE
      </div>
    </ion-item>
    <ion-item (click)="goToAbout()">
      <img src="assets/img/icons/favicon-solaris.png" alt="SOLARIS" class="icon-solaris">
      <div class="item-title">
        Sobre a SOLARIS
      </div>
    </ion-item>

    <ion-item>
      <div class="item-header">
        CONTATO
      </div>
    </ion-item>
    <ion-item (click)="sendEmail()">
      <ion-icon name="mail"></ion-icon>
      <div class="item-title">
        Enviar e-mail
      </div>
    </ion-item>
    <ion-item (click)="call0800('08007020010')">
      <ion-icon name="call"> </ion-icon>
      <div class="item-title">
        Ligar no 0800
      </div>
    </ion-item>
    <ion-item>
      <a href="http://www.solarisbrasil.com.br/" target="_blank">
        <ion-icon name="globe"></ion-icon>
        <div class="item-title">
          Website
        </div>
      </a>
    </ion-item>

    <ion-item>
      <div class="item-header">
        SOCIAL
      </div>
    </ion-item>
    <ion-item>
      <a href="https://web.facebook.com/solarisequipamentos?_rdc=1&_rdr" target="_blank">
        <ion-icon name="logo-facebook"> </ion-icon>
        <div class="item-title">
          Facebook
        </div>
      </a>
    </ion-item>
    <ion-item>
      <a href="https://www.linkedin.com/company/solaris-equipamentos-e-servi-os/" target="_blank">
        <ion-icon name="logo-linkedin"></ion-icon>
        <div class="item-title">
          Linkedin
        </div>
      </a>
    </ion-item>
    <ion-item>
      <a href="https://plus.google.com/+solarisbrasil" target="_blank">
        <ion-icon name="logo-googleplus"></ion-icon>
        <div class="item-title">
          Google +
        </div>
      </a>
    </ion-item>

  </ion-list>

</ion-content>