page-contact {
  .item-inner {
    padding: 0;
  }
  .input-wrapper {
    padding: 0;
    height: 50px;
  }
  ion-list {
    padding: 0;
    margin: 0;
    .item-inner {
      padding: 0 0;
      padding-right: 0px !important;
    }
    .input-wrapper {
      padding: 0 0;
    }

    ion-item,
    .item, item-block {
      border: 0.5px solid #fff;
      background-color: #ebe9e6;
      padding: 0 0;
      width: 105%;
      line-height: 2em;   
      
    }   
    ion-icon {
      color: #008753;
      font-size: 1.8em;
      margin-left: 30px;
      margin-right: 5px;
      position: absolute;
      margin-top: 5px;
    }
    .icon-solaris {
        color:#ff9400;
        margin-left: 30px;
        margin-right: 5px;
        width: 1.8em;
        height: auto;        
        position: absolute;
        margin-top: 5px;
    }
    .item-header {
      background: #aea79d;
      font-family: "sans-serif";
      font-weight: bold;
      color: #333;
      padding: 1em 30px;
      width: 100%;
      margin: 0px 0px;
      width: 100%;
      
    }
    .item-title{
      padding-left: 70px;
      padding-top: 5px;
      text-decoration: none;
    }
    a {
      text-decoration: none; 
      color:#333 !important;
    }
  }
}
