// verificar bubg no rootPage, app.components.

page-home {
    .toolbar {
        ion-icon{
            margin-top:10px;
        }
    }



    ion-content{
        margin: 0;
        // overflow-y: none;
    }
    // banner principal
    .banner {

        color : #fff;
        text-transform: uppercase;

        img {
            width: 100%;
            height: auto;
        }

        .banner-item {
            background-repeat: no-repeat;
            width: 100%;
            height: 260px;
            background-position-x: 50%;
            background-position-y: 0%;
            background-size: cover;
        }

        .banner-info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 20px;
        }

        .banner-title {
            font-size: 25px;
            line-height: 30px;
            font-family: 'Bond4F', 'sans serif';
            font-weight: 300;
            padding: 0 15px;
            border-bottom: 2px solid #fff;
            width: 70%;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;

            &:before {
                content: "";
                position: absolute;
                background: #fff;
                width: 10px;
                height: 10px;
                left:15%;
                top:25%;

            }

            &:after {
                content: "";
                position: absolute;
                background: #fff;
                width: 10px;
                height: 10px;
                right:15%;
                top:25%;
            }
        }
        .banner-description {
            width: 80%;
            margin: 0 auto;
            font-size: 14px;
            line-height: 16px;
        }
        .swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets {
            background:red;
            display: none !important;
        }

        .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
            left: 0;
            bottom: -4px;
            width: 100%;
            display: none !important;

            .swiper-pagination-bullet {
                // display: inline-block;
                background-color:#ff9400;
                width: 80px;
                height: 6px;
                border-radius: 0px;
                margin:0px 0px;
                opacity:1;
                display: none !important;
            }

            .swiper-pagination-bullet-active {
                background: #008753 !important;
                display: none !important;
            }

            .swiper-pagination-bullet-active {
                background: #008753 !important;
                opacity: 1;
              }
              .swiper-pagination-bullet {
                border-radius: 100%;
                display: inline-block;
                width: 14px !important;
                height: 14px !important;
                background: #000;
                opacity: .2;
                pointer-events: auto;
              }

        }



    }

    // sliders de produtos
    .slider-products {

        .slide-zoom {
            height: 220px;
        }

        .banner-item {

            width: 100%;
            height: 150px;
            position: relative;
            z-index: 10;
            background-color: #aba499;
            background-size:  cover;
            background-position: center;
            background-repeat: no-repeat;
            // background-image: url('../assets/img/backgrounds/bg-slider-products.jpeg');
        }

        .banner-info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top:20px;
            margin-bottom: 20px;
            padding: 0 16px;
        }

        .banner-title {
            font-size: 18px;
            line-height: 22px;
            font-family: 'Bond4F', 'sans serif';
            font-weight: 500;
            padding: 0 15px;
            border-bottom: 2px solid #333;
            width: 50%;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;


            &:before {
                content: "";
                position: absolute;
                background: #333;
                width: 10px;
                height: 10px;
                left:27%;
                top:6%;
            }

            &:after {
                content: "";
                position: absolute;
                background: #333;
                width: 10px;
                height: 10px;
                right:27%;
                top:6%;
            }
        }

        & .banner-content {
            width: 100%;

            & .banner-content-img {
                display:flex;
                position: absolute;
                margin-left: 0px;

                img {
                    height: 160px;
                    margin-top: 50px;
                }
            }

            .banner-content-description {
                display:flex;
                float: right;

                .description-product {

                    .product-title {
                        color: #fff;
                        font-weight: 600;
                        text-align: left;
                        font-size: 22px;
                        line-height: 22px;

                        & span {
                            color: #333;
                            font-size: 18px;
                        }
                        & .icon-arrow {
                            margin-left: -30px;
                            font-size: 40px;
                            display: flex;
                            position: absolute;
                            font-weight: bold;
                            font-family: 'sans-serif';
                        }
                    }
                }
                & button, ion-button {
                    font-weight: 600;
                    text-transform: lowercase;
                }
            }

        }
        .swiper-pagination {
            bottom: 90px;
        }

        .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
            left: 0;

            .swiper-pagination-bullet {
                display: inline-block;
                background-color:#ff9400;
            }

            .swiper-pagination-bullet-active {
                background-color: #EF5402;

            }

        }



    }

    // links
    .container-links {
        padding: 16px 16px;

        .link-item {

            display: block;
            height: 150px;
            margin-bottom: 16px;
            padding:16px 32px;
            border: 1px solid #dadada;

            background-size: cover;
            background-position-x: 50%;
            background-position-y: 0%;
            background-repeat: none;

            .link-content {
                float: right;
                text-align: center;

                .link-description {
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 600;
                    font-size: 25px;

                    span {
                        text-transform: lowercase;
                        font-size:14px;
                    }
                }

                button {
                    text-transform: lowercase;
                }
            }


        }
        .link-simulator {
            background-color: green;
        }
        .link-help {
            background-color: orange;
             & * {
               text-align: right;
             }
             button {
               float: right;
             }
        }
    }

    // ajustes para  smart menores como iphone 5
    @media (min-width:0px) and (max-width:399px) {

      .banner {
        .banner-title {

          width: 90%;

          &:before{
            display: none;
          }
          &:after{
            display: none;
          }
        }
      }
      .slider-products {

        .banner-title {
          width: 100%;

          &:before{
            display: none;
          }
          &:after{
            display: none;
          }
        }
        .banner-content-img {
          display: none !important;

          img {
              height: 160px;
              margin-top: 50px;
          }
        }

        .icon-arrow {
          display: none !important;
        }

        .swiper-pagination {
          bottom: 50px;
        }

      }

      .container-links {
        .link-item {
          height: 190px;
        }
      }



    }

    // ajustes para tablets ipad min 768 x 1024

     // ajustes para  smart menores como iphone 5
     @media (min-width:768px) and (max-width:1100px) {

    .toolbar {
        ion-icon{
            margin-top:10px !important;
        }
    }


    .banner {
        .banner-title {
            font-size: 40px;
            width: 70%;

            &:before{
                top:32% !important;
            }
            &:after{
                top:32% !important;
            }
        }

        .banner-description{
            font-size: 19px;
        }
    }

    .slider-products {

        .slide-zoom {
            height: 370px;
        }

        .banner-title {
            width: 48%;
            font-size: 22px;
        }
        .banner-content-img {

            margin-left: 10px !important;

            img {
                height: 350px !important;
                margin-top: -35px !important;
            }
        }

        .icon-arrow {
            // display: none !important;
        }

        .swiper-pagination {
            bottom: 200px;
            left: 25% !important;
        }

    }

    .container-links {
        .link-item {
            height: 200px;
            .link-content {
                .link-description {
                    font-size: 32px;
                }
            }
        }
    }

    } // fim media
} // fim page-home
