<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img src="assets/img/logo-solaris.png" alt="SOLARIS" class="logo">
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="bg-light">

    <div class="container">

        <div class="banner">
            <ion-slides pager>
                <ion-slide *ngFor="let banner of banners">
                    <div class="banner-item" [style.background-image]="'url(' + banner.image + ')'">
                        <div class="banner-info">
                            <h2 class=banner-title>{{banner.title}}</h2>
                            <div class="banner-description">
                                {{banner.body}}
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>


        </div>

        <div class="slider-products">

            <ion-slides pager>

                <ion-slide *ngFor="let pcat of prodcategories | slice:0:5; let i=index">

                    <div class="banner-item">
                        <div class="banner-info">
                            <h2 class=banner-title>LINHA DE PRODUTOS</h2>

                            <div class="banner-content">

                                <div class="banner-content-img">
                                    <img src="http://admin.solarisbrasil.com.br/uploads/documents/Manipulador-SkyTrak-10042-1-min.png" alt="img de prod">
                                </div>

                                <div class="banner-content-description">

                                    <div class="description-product">

                                        <div class="product-title">
                                            <div class="icon-arrow"> &#8250; </div> {{ pcat.name }} <br>
                                            <span>{{ pcat.category }}</span>
                                        </div>

                                        <button  ion-button color="clear" class="btn btn-clear" (click)="productDetails(pcat)">saiba mais &nbsp; ></button>

                                        <button  ion-button color="primary" (click)="productCartAdd(pcat)">adicionar carrinho &nbsp;<ion-icon name="cart"></ion-icon></button>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </ion-slide>


            </ion-slides>

        </div>

        <div class="container-links">

            <div class="link-item link-simulator" style="background-image:url('assets/img/banners/banner-simulator.png ')">
                <div class="link-content">
                    <div class="link-description">
                        catálogo <br> de produtos
                    </div>

                    <button ion-button class="btn btn-clear-white" (click)="goToCatalog()">
                  saiba mais &#8250;
              </button>

                </div>
            </div>

            <div class="link-item link-help" style="background-image:url('assets/img/banners/banner-help.png ')">
                <div class="link-content">
                    <div class="link-description">
                        AJUDA <br>
                        <span>
                  Está com problemas em seu equipamento ?
                  <br>
                  Nós podemos ajudar.
                </span>
                    </div>

                    <button ion-button class="btn btn-clear-white" (click)="goToHelp()">
                saiba mais &#8250;
              </button>

                </div>
            </div>

        </div>



    </div>
    <!-- fim /container -->
</ion-content>