page-help {

    .help-form{        
        margin:auto;
        margin-top: 60px;

        text-align: center;

        & h3 {
          color: #333333;
        }
     
        .content-form {
          padding: 15px;

          & ion-item {
            margin-bottom: 15px;
            width: 100%;
            padding: 0px;

            & .item-inner {
              padding: 0px;
            }
            & ion-label{
              margin: 0px;
            }            
          }
          & button {
            text-transform: lowercase;
            width: 100%;
            padding:1.8em;
            margin-bottom: 0px;

            & .button-inner {
              font-size: 18px;
            } 

          }
        }
       
      }
    
}
