<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>AJUDA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-light">
  <!-- <h1 class="loading">EM BREVE</h1> -->

  <div class="solaris-form help-form">
    <h3>Tem alguma dúvida ou quer <br> maiores informações?
    </h3>
    
    <form #f="ngForm" novalidate (ngSubmit)="onSubmit(f)">
      <div class="content-form">
        
          <ion-item>
            <ion-input type="text" name="name" required [(ngModel)]="data.name" placeholder="nome">
            </ion-input>
          </ion-item>

          <div [hidden]="f.controls.name && (f.controls.name.valid || (f.controls.name.pristine && !isSubmitted))" class="note danger">
            * Nome é obrigatório
          </div>

          <ion-item>          
            <ion-input type="email" name="email" required [(ngModel)]="data.email" placeholder="e-mail"></ion-input>
          </ion-item>

          <div *ngIf="(isSubmitted && f.controls.email &&
          f.controls.email.pristine) || ((f.controls.email) &&
          (f.controls.email.dirty && f.controls.email.errors))" class="note
          danger" class="note danger">
              * e-mail é obrigatório

          </div>

          <ion-item>          
            <ion-input type="text" required name="phone" [(ngModel)]="data.phone" placeholder="telefone"></ion-input>
          </ion-item>

          <div *ngIf="(isSubmitted && f.controls.phone &&
        f.controls.phone.pristine) || ((f.controls.phone) &&
        (f.controls.phone.dirty && f.controls.phone.errors))" class="note
        danger">
            * telefone é obrigatório
          </div>     
          <ion-item>
            <ion-textarea name="message" required [(ngModel)]="data.message" placeholder="Digite uma mensagem"></ion-textarea>
          </ion-item>
          

          <div *ngIf="(isSubmitted && f.controls.message &&
          f.controls.message.pristine) || ((f.controls.message) &&
          (f.controls.message.dirty && f.controls.message.errors))" class="note
          danger" class="note danger">
              * mensagem é obrigatório

          </div>
        
    

        <ion-item class="no-background">
          <button ion-button type="submit" color="primary">
              enviar              
            </button>
        </ion-item>
      </div>
    </form>


  </div>
</ion-content>