page-call {
  
  background: #ebe9e6;
  ion-select{
    max-width: 100%;
    min-width: 100%;
  }
  .call-header{
    text-align: center;

    & img {
      width: 150px;
      margin: 20px auto;
    }
  }
  .container-step {
    ion-item {
      background: none;
    }
    .process-step {
      margin: 15px auto;

      .row-process-step {
        width: 100%;
        height: 2px;
        background: #8c8b8a;
        position: relative;
        z-index: 1;

        .buble-step {
          z-index: 10;
          border-radius: 50%;
          border: 1px solid #8c8b8a;
          background: #fff;
          color: #8c8b8a;
          font-size: 2em;
          width: 30px;
          height: 30px;
          text-align: center;
          display: inline-block;
          position: relative;
          margin-top: -15px;
        //   margin-left: 40%;  
        }
        .buble-step.active {
          background: #8c8b8a;
          color: #fff;
        }
      }
    }

    .step-description {
      position: relative;
      margin: 60px auto;
      width: 96%;
      font-size: 1.6em;
      color: #8c8b8a;
      text-align: center;

      & ion-item {
        margin: 15px auto;
      }

      .content-form {
        padding: 15px;

        & ion-item {
          margin-bottom: 15px;
          width: 100%;
          padding: 0px;

          & .item-inner {
            padding: 0px;
          }
          & ion-label {
            margin: 0px;
          }
        }
      }

      .upload-file{

        button{
            border-radius: 50%;
            padding: 0.5em 1.1em;
            float: left;
            color: #fff;
            
            & .button-inner{
                font-size: 30px;
            }

        }

        span {
            font-size: 0.45em;
            text-align: left;
        }
      }

    }

    .footer-step {
      position: relative;
      text-align: center;
      width: 100%;
      margin-left: 0px;
      bottom: 15px;
      background: #ebe9e6;

      & button {
        padding: 1em 3.3em;
        display: inline-block;
        width: 40%;
      }
    }
  }
}
