<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CHAMADO TÉCNICO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-light">
  <!-- <h1 class="loading">EM BREVE</h1> -->
  <div class="call-header">
    <img src="assets/img/icons/icon-call.png" alt="">
  </div>

  <div class="container-step">

    <div class="process-step">
      <div class="row-process-step">
        <div class="buble-step active" style="margin-left:0px">
          1
        </div>

        <div *ngIf="secondStepValid == false" class="buble-step " style="margin-left:33.3333333%">
          2
        </div>

        <div *ngIf="secondStepValid == true" class="buble-step active" style="margin-left:33.3333333%">
          2
        </div>

        <div *ngIf="step !== 2" class="buble-step pull-right">
          3
        </div>

        <div *ngIf="step == 2 || thirdStepValid == true" class="buble-step active pull-right">
          3
        </div>
      </div>

    </div>

    <div class="steps">
      <div *ngIf="step == 0">
        <div class="step-description solaris-form">
          Pensando em você, a Solaris desenvolveu uma forma prática para resolver seu problema. Para iniciar o chamado técnico, por
          favor
          <b>digite o número interno ou número de série</b>

          <ion-item>
            <ion-input type="text" [(ngModel)]="serieNumber" placeholder="Digite o nº interno ou o de série" required>
            </ion-input>
          </ion-item>

          <div class="small" hidden>
            *Caso não saiba onde encontrar o número ou o número de série
            <b> clicar aqui</b>
          </div>



        </div>
      </div>
      <div *ngIf="step == 1">
        <div class="step-description solaris-form">
          Por favor, insira seus dados pessoais para que possamos melhor atendê-lo. Verifique os dados antes de enviar.

          <form #f="ngForm" novalidate (ngSubmit)="onSubmit(f)">
            <div class="content-form solaris-form">

              <ion-item>
                <ion-input type="text" name="name" required [(ngModel)]="data.name" placeholder="nome">
                </ion-input>
              </ion-item>

              <div [hidden]="f.controls.name && (f.controls.name.valid || (f.controls.name.pristine && !isSubmitted))" class="note danger">
                * Nome é obrigatório
              </div>

              <ion-item>
                <ion-input type="email" name="email" required [(ngModel)]="data.email" placeholder="e-mail"></ion-input>
              </ion-item>

              <div [hidden]="f.controls.email && (f.controls.email.valid || (f.controls.email.pristine && !isSubmitted))" class="note danger">
                * e-mail é obrigatório

              </div>

              <ion-item>
                <ion-input type="text" name="phone" [(ngModel)]="data.phone" placeholder="telefone" required></ion-input>
              </ion-item>

              <div [hidden]="f.controls.email && (f.controls.email.valid || (f.controls.email.pristine && !isSubmitted))" class="note
                danger">
                * telefone é obrigatório
              </div>
             
            </div>
            <div class="footer-step">
              <div *ngIf="step == 1">
                
                <button *ngIf="step !== 0 && generalLoading == false" ion-button class="bg-primary" (click)="prevStep()">
                  VOLTAR
                </button>

                <button ion-button class="bg-secondary" type="submit" right>
                    AVANÇAR
                </button>
        
              </div>
            </div>
          </form>
        </div>

      </div>
      <div *ngIf="step == 2">
        <div class="step-description solaris-form">
          Selecione o item que melhor representam o seu problema.
          
            <div>
              <ion-item>
                <ion-select 
                [selectOptions]="selectOptions"
                [placeholder]="placeholderProblems"
                [(ngModel)]="descriptionProblem" 
                multiple=true 
                interface="alert"
                okText="OK"
                (ionChange)="checkAnotherProblem($event)"
                cancelText="Cancelar"
                >
                <ion-option placeholder="Selecione..." *ngFor="let problem of problems" [value]="problemDescription">{{problem.problemDescription}}</ion-option>
              </ion-select>
              </ion-item>

              <ion-item *ngIf="showAnotherProblem == true">
                <ion-input type="text" [(ngModel)]="anotherProblemDescription" placeholder="Especifique o problema" required>
                </ion-input>
              </ion-item>
    

            </div>
          
          <!-- removido para a versão de produção -->
          <div class="upload-file" hidden>
            <button ion-button color="secondary" (click)="uploadFile()">                
                +
            </button>
            <span>
              Você pode adicionar fotos e vídeos. 
              Esse material ajudará nossos consultores 
              a identificar o seu problema e oferecer a
              melhor solução.
            </span>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-step">
      

      <div *ngIf="step !== 1">
        
        <button *ngIf="step !== 0 && generalLoading == false && locked == false" ion-button class="bg-primary" (click)="prevStep()" left>
          VOLTAR
        </button>
        <button *ngIf="step == 2 && generalLoading == true  || step == 2 && locked == true" ion-button class="bg-primary" disabled type="submit" left>
           VOLTAR &nbsp;&nbsp;  <ion-spinner style="margin-left: 20px"></ion-spinner>
        </button>

        <button *ngIf="step !== 2 && locked == false" ion-button class="bg-secondary" (click)="nextStep()" type="submit" right>
          AVANÇAR
        </button>
        <button *ngIf="step !== 2 && locked == true" ion-button class="bg-secondary" disabled type="submit" right>
          AVANÇAR
        </button>


        <button *ngIf="step == 2 && generalLoading == false && locked == false" ion-button class="bg-secondary" style="margin-left:10px" (click)="send()" type="submit" right>
          ENVIAR
        </button>
        <button *ngIf="step == 2 && generalLoading == true  || step == 2 && locked == true" ion-button class="bg-secondary" disabled type="submit" right>
           ENVIAR &nbsp;&nbsp; <ion-spinner *ngIf="generalLoading == true" style="margin-left: 20px"></ion-spinner>
        </button>

      </div>
      
    </div>


  </div>

</ion-content>