// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #008753,
  secondary:  #ff9400,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #333
);

$bg-primary:#008753;
$bg-secondary: #ff9400;

$primary:#008753;
$secondary:#ff9400;
$dark: #333333;
$light-gray: #ebe9e6;

$text-input-placeholder-color:#333;

$danger: #f53d3d;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// toast

$toast-width: 100%;

$toast-md-background: $secondary;
$toast-md-title-color: $dark;

$toast-ios-background: $secondary;
$toast-ios-title-color: $dark;

$toast-wp-background: $secondary;
$toast-wp-title-color: $dark;

.toast-button  {
  color: $dark;
  font-weight: bold;
}

// toggle 

// active toggle
$toggle-md-active-color: $secondary;
$toggle-wp-active-color: $secondary;
$toggle-ios-background-color-on: $secondary;



// alerts 
$alert-md-head-text-align: center;
$alert-md-title-font-size: 1.8em;
// $alert-md-title-text-color: $danger;
$alert-md-sub-title-font-size: 1.2em;
$alert-md-message-font-size: 1.2em;
// $alert-md-background-color:$secondary;
// $alert-md-message-text-color: $danger;

$alert-md-border-radius: 12px;
// $alert-md-button-text-color: $danger;
// $alert-md-button-background-color:$secondary;
// $alert-md-button-background-color-activated: $secondary;
$alert-md-button-text-align: center;

//checkbox
$checkbox-md-icon-background-color-off: transparent;
$checkbox-md-icon-border-color-off: $primary;
$checkbox-md-icon-background-color-on: $primary;
$checkbox-md-border-color:$secondary;

$checkbox-ios-icon-background-color-off: transparent;
$checkbox-ios-icon-border-color-off: $primary;
$checkbox-ios-icon-background-color-on: $primary;
$checkbox-ios-border-color:$secondary;

$checkbox-wp-icon-background-color-off: transparent;
$checkbox-wp-icon-border-color-off: $primary;
$checkbox-wp-icon-background-color-on: $primary;
$checkbox-wp-border-color:$secondary;