page-subsidiaries {

    .subsidiaries-title {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        // margin-bottom: 30px;
        border-bottom: 3px solid #333;

        &:before {
            content: "";
            position: absolute;
            background: #333;
            width: 10px;
            height: 10px;
            left:4%;
            top:31.8%;
        }

        &:after {
            content: "";
            position: absolute;
            background: #333;
            width: 10px;
            height: 10px;
            right:4%;
            top:31.8%;
        }
    }
    .dropdow-solaris{
        border-bottom: 2px solid orange;
        width: 48%;
        display: inline-block;
        margin-left: 1%;        
        background: #e4e4e4;
    }

    ion-list .item{
        background: transparent;
        border-bottom: 1px solid #333;    
        padding: 0;    
    }
    .arrow-icon {
        float: right;
        font-size: 1.2em;
    }
}

