<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>filiais</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-light">
  <!-- <h1 class="loading">EM BREVE</h1> -->

  <div class="subsidiaries-title page-title-solaris">
    <h2>Encontre a Solaris mais perto de você</h2>
  </div>
  <ion-item class="dropdow-solaris">
    <ion-label>Estado</ion-label>
    <ion-select [(ngModel)]="state" multiple=false interface="popover" okText="OK" cancelText="Cancelar">
      <ion-option *ngFor="let state of states" [value]="state">{{state}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item class="dropdow-solaris">
    <ion-label>Cidade</ion-label>
    <ion-select [(ngModel)]="state" multiple=false interface="popover" okText="OK" cancelText="Cancelar">
      <ion-option *ngFor="let state of states" [value]="state">{{state}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <!-- ng-for -->
    <ion-item>
      Cabo Sto Agostinho / PE
      <span class="arrow-icon">
            &#8250;
        </span>
    </ion-item>
  </ion-list>
</ion-content>