<ion-header color="primary">
  
      <ion-navbar color="primary">
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>
            {{item.name}}
          </ion-title>
      </ion-navbar>
  
</ion-header>
<ion-content class="bg-light" padding>
  <div class="container">

    <div class="product-details">

     
      <div class="product-banner">
        
        <ion-slides #slides control effect="cube" loop   >
          <!--  TODO alterar  de item.image para item.images -->  
          <!-- *ngFor="let banner of item.image"  -->
            <ion-slide >
                <div class="item-banner" text-center #profilePic [style.background-image]="'url(' + item.image + ')'">
                </div>
            </ion-slide>
        </ion-slides>
        <div class="slides-nav">
          <button ion-button icon-only class="prev-arrow" (click)="prevSlide()">
              &#8249;
          </button>

          <button ion-button icon-only  class="next-arrow" (click)="nextSlide()">
              &#8250;
          </button>
        </div>

    </div>

      <div class="item-description">

        <div class="item-description-header">
          <h2>{{item.name}}</h2>
          <p>{{item.category}}</p>
          <span>
            {{item.body}}
          </span>
        </div>

        <div class="item-description-table">
          <ion-grid>
            <div *ngFor="let datashet of item.datasheet">
              <ion-row>
                <ion-col col-10>
                  {{datashet.name}}
                </ion-col>
                <ion-col col-2>

                  <span ng-if="datashet.value">
                      {{datashet.value}}
                  </span>
                  <span ng-if="!dashet.value">
                    - - - 
                  </span>


                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </div>

        <div class="item-description-form" hidden>
          <form>
            <div class="checkbox-form">
              
            </div>
            <div class="cart-form">
              <ion-item>
                <ion-input type="number" placeholder="quantidade" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="date" placeholder="data de início" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="date" placeholder="data de término" required></ion-input>
              </ion-item>

              <ion-item class="no-background">
                  <button ion-button type="submit" color="primary">
                    adicionar
                    <ion-icon name="cart"></ion-icon>
                  </button>
              </ion-item>

            </div>

          </form>
        </div>

      </div>

    </div>

  </div>


</ion-content>