page-item-banner-detail {
    
    .product-details {
       
      padding: 33px;
      margin:auto;
  
      // slides
      .product-banner {
  
        background: #aea79d;
        height: auto;
        height: 150px;
        width: 92%;
        position: absolute;      
        
        .item-banner {
          margin: 15px auto;
          background-position: center left;
          background-repeat: none;
          background-size: cover;
          position: absolute;
          top: 0px;
          width:85%;
          height: 240px;
          
        }
  
        .slides-nav {
  
          color: #fff;
          font-weight: bold;
          
          background:transparent;
          width: 100%;
          position: absolute;
          z-index: 99;
          top: 65%;
          padding: 0px 40px;
          text-shadow: 1px 1px #333;
  
          .prev-arrow, .next-arrow {
            background: none;
            outline: none;          
            box-shadow: none;
  
            & .button-inner {
              font-size: 3rem;
            }
          }
          & .next-arrow {
            float: right;
          }
  
        }
      }
      
      // fim slides
      
      .item-description {
        margin: 10px auto;
        width:92%;
        position: absolute;
        margin-top: 280px;
        
  
        .item-description-header {
          background: #aea79d;
          padding: 10px;
  
          & h2 {
            font-weight: bold;
            font-family: 'sans-serif';
            color: #fff;
          }
          & p {
            font-weight: bold;
            color: #333;
            font-size: 18px;
            margin:0;
    
          }
          & span {
            font-size: 14px;
          }
          
        }
  
        .item-description-table {
          background: #c7bfb3;
          padding: 10px;
        }
  
        .item-description-form{
          width: 80%;
          margin:auto;
          margin-top: 15px;
  
          .checkbox-form {
            
          }
  
          .cart-form {
            background: #e4e4e4;
            padding: 15px;
  
            & ion-item {
              margin-bottom: 15px;
              width: 100%;
              padding: 0px;
  
              & .item-inner {
                padding: 0px;
              }
              & ion-label{
                margin: 0px;
              }            
            }
            & button {
              text-transform: lowercase;
              width: 100%;
              padding:2.5em;
              margin-bottom: 0px;
  
              & .button-inner {
                font-size: 18px;
              } 
  
            }
          }
         
        }
      
      }
  
    }
    
  
    @media (min-width: 0px) and (max-width:399px) {
      .product-details {
        
       padding: 30px 20px;
       margin:auto;
   
       // slider
       .product-banner {
         width: 89%;
  
        .item-banner {
          width: 240px;
          height: 240px;       
          margin: auto;
        }
        
       }
       .item-description{
         width: 89%;
         margin-top: 240px;
       }
       
    
     }
     
  
    }
  
    @media (min-width: 768px) and (max-width:1100px) {
  
    
      .product-details {
        
       padding:40px;
       margin:auto;
   
       // slider
       .product-banner {
         
          height: 220px;
          width:94%;
  
        .item-banner {
          min-height: 450px;       
        }
  
       }
      
  
       .item-description{
        margin-top: 400px;
        width: 94%;
       }
       
    
     }
     
  
    }
  }
  