// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// fonts
@font-face {
  font-family: 'Bond4F';
  src: url('../assets/fonts/Bond4F-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bond4F';
  src: url('../assets/fonts/Bond4F-Light.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bond4F';
  src: url('../assets/fonts/Bond4F-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@import "theme/variables.scss";
// ======RESETS ====================================================== {
* {
  font-family: 'Bond4F', 'sans serif';
  font-weight: 300;
}

ion-title {
  text-transform: uppercase;
}

.container {
  padding: 0;
  margin: -16px;
}

.no-background {
  background: none;
  background-image: none;
  background-color: none;
}

.bg-light {
  background-color: $light-gray !important;
}

.bg-primary {
  background: $bg-primary;
}

.bg-secondary {
  background: $bg-secondary;
}

.pull-right {
  float: right;
}

.page-title-solaris {
  color: #333333;
  font-family: 'sans-serif';
  margin-bottom: 50px;
  margin-top: 50px;
  h3,
  h2 {
    font-weight: 500;
    font-size: 1.8em;
  }
  p {
    font-size: 1.2em;
  }
}

.dropdow-solaris {
  & button {
    background: none;
    background-color: none;
  }
}

.text-underline {
  text-decoration: underline;
}

// ==== MENU CUSTOM ====================================================================================
// menu colapsado, apenas a barra
.toolbar {
  height: calc(153px / 2);
  ion-icon {
    font-size: 2.5em;
    margin-top: -10px;
  }
  .toolbar-title {
    font-size: 2.1em;
  }
  .toolbar-background {
    border-color: $bg-primary;
    background: $bg-primary;
    color: #fff;
    border-top: 4px solid $bg-secondary;
  }
  .toolbar-title {
    color: #fff;
    & .logo {
      width: 140px;
      height: auto;
      margin-left: 0px;
      margin-top: -2px;
    }
  }
}

// menu expandido
.menu-inner {
  & * {
    overflow-y: hidden;
  }
  & .item-menu {
    background-color: $bg-secondary;
    color: #fff;
    position: absolute;
    padding-top: 10px;
    height: 40px;
    margin-top: -22px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
  }
  & .item {
    padding-left: 0px;
    border-bottom: 1px solid #fff;
    & ion-icon {
      font-size: 1.5em;
      margin-right: 15px;
      margin-bottom: -10px;
    }
    .icon-menu {
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: -5px;
      width: 18px;
      height: auto;
      max-height: 30px;
      text-transform: lowercase;
      display: inline-flex;
    }
    .menu-item-title {
      font-weight: bold;
      display: inline-flex;
      position: absolute;
      line-height: 28px;
    }
  }
  & {
    .content {
      background-color: $bg-secondary;
    }
  }
  & .active {
    background: $light-gray;
    color: $dark;
  }
  .toolbar-title {
    & .logo {
      margin-left: 50px;
    }
  }
}

// smarts
@media(min-width:0px) and (max-width: 399px) {
  .toolbar {
    ion-icon {
      font-size: 2.5em;
    }
  }
  .menu-inner {
    .toolbar-title {
      & .logo {
        margin-left: 0px !important;
      }
    }
  }
}

// tablets 
@media(min-width:768px) and (max-width: 1100px) {
  .toolbar {
    ion-icon {
      font-size: 1.8em;
      margin-top: -4px !important;
    }
  }
  .menu-inner {
    .toolbar-title {
      & .logo {
        margin-left: 0px
      }
    }
  }
}

// ========================================================================================
// buttons
.btn-clear {
  background: transparent;
  color: $primary;
  border: 2px solid $primary;
}

.btn-clear-white {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.btn {
  text-transform: capitalize;
}

.btn-secondary {
  color: #fff;
  background: $secondary;
}

// fim buttons
// ===== loaders =======================
.loading {
  font-size: 30px;
  text-align: center;
  top: 25%;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1500ms infinite;
  animation: ellipsis steps(4, end) 1500ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

//custom-spinner pure css
.spinner {
  /* Spinner size and color */
  width: 1.5rem;
  height: 1.5rem;
  border-top-color: #444;
  border-left-color: #444;
  /* Additional spinner styles */
  animation: spinner 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

/* Animation styles */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Optional — create your own variations! */

.spinner-large {
  width: 5rem;
  height: 5rem;
  border-width: 6px;
}

.spinner-slow {
  animation: spinner 1s linear infinite;
}

.spinner-blue {
  border-top-color: #09d;
  border-left-color: #09d;
}

.spinner-primary {
  border-top-color: $primary;
  border-left-color: $primary;
}

// fim loaders
// tabs
$tabs-md-tab-padding-start: 20px;
$tabs-md-tab-font-size: 1.5rem;
$tabs-md-tab-font-weight: bold;
$tabs-md-tab-text-color: $dark;
$tabs-md-tab-text-color-active: #fff;
.tabs-md,
.tabs-ios,
.tabs-wp {
  .tab-button {
    width: 80%;
  }
  .tab-button-text {
    color: $dark;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5rem;
    z-index: 999;
  }
  .tab-button[aria-selected=true] {
    & .tab-button-text {
      color: #fff;
      background: $secondary;
      height: 55px;
      padding: 20px 10px;
    }
    &:after {
      content: "";
      position: fixed;
      border-style: solid;
      border-width: 25px;
      border-color: transparent;
      border-top-color: $secondary;
      top: 55px;
    }
  }
}

// catalogo de produtos (global para todos os tipos)
.product-catalog {
  margin: auto;
  padding: 30px 15px;
  min-height: 100%;
  & .product-item {
    margin-bottom: 30px;
    & img {
      width: 350px;
      height: auto;
      display: inline-flex;
    }
    & .product-info {
      & h2 {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 0;
      }
      & p {
        font-size: 2rem;
        margin: 0;
      }
      & button {
        width: 100%;
        border-radius: 0px;
        text-transform: lowercase;
        & .button-inner {
          height: auto;
          justify-content: left;
          font-size: 20px;
          & ion-icon,
          .next-icon {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 25px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .next-icon {
    margin-top: 2px;
  }
}

.swiper-pagination-bullet-active {
  background: #008753 !important;
  opacity: 1;
}

.swiper-pagination-bullet {
    border-radius: 100%;
    display: inline-block;
    width: 14px !important;
    height: 14px !important;
    background: #777776;
    opacity: 1;
    pointer-events: auto;
}

@media(min-width:0px) and (max-width: 399px) {
  .tabs-md,
  .tabs-ios,
  .tabs-wp {
    .tabbar {
      height: 48px;
    }
    .tab-button-text {
      font-size: 0.9rem;
    }
    .tab-button[aria-selected=true] {
      & .tab-button-text {
        height: 45px;
        font-size: 0.9rem;
        padding: 20px 10px;
      }
      &:after {
        top: 45px;
      }
    }
  }
  .product-catalog {
    & .product-item {
      margin-bottom: 30px;
      & img {
        width: 350px;
        height: auto;
        display: inline-flex;
      }
      & .product-info {
        & h2 {
          font-size: 1.9rem;
        }
        & p {
          font-size: 1.3rem;
        }
        & button {
          & .button-inner {
            font-size: 14px;
            & ion-icon,
            .next-icon {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

// ============= FORMS =================================
.solaris-form {
  & input,
  ion-item,
  ion-input,
  ion-textarea {
    background: #e5e5e5;
    color: #333;
    font-family: 'sans-serif';
    font-weight: 500;
    font-size: 14px;
  }
  &.text-input::-webkit-input-placeholder,
  .text-input::-moz-placeholder,
  .text-input:-moz-placeholder,
  .text-input:-ms-input-placeholder,
    {
    color: #333 !important;
  }
  .note,
  .danger {
    color: $danger;
  }
  .checkbox {
    background: none;
    border-color: $primary
  }
}

.label-error {
  color: $danger;
  text-align: center;
}

// modais
.alert-affiliated {
  width: 100%;
  * {
    text-align: left;
  }
  p {
    font-size: 0.9em;
    border-bottom: 1px solid $light-gray;
  }
}

.modal-with-icon {
  text-align: center;
  color: #8c8b8a;
  img {
    margin-left: auto;
    position: relative;
    width: 80px;
    height: auto;
  }
  ion-icon {
    margin-left: auto;
    position: relative;
    width: 80px;
    height: auto;
  }
  .alert-button-group {
    border-top: 2px solid #8c8b8a;
    text-align: center;
    font-weight: 500;
  }
  .alert-button {
    padding: 1em 2.1em;
    color: #8c8b8a;
  }
}
