<!-- PRODUTOS NOVOS -->
<ion-content class="bg-light">
    
    <div class="container">
      <div class="product-catalog" >
  
        <ion-grid>
          <h1> 
            <!-- {{currentItems.length}} -->
          </h1>
          <div *ngFor="let product of currentItems">
            <ion-row class="product-item">
              <ion-col class="product-image">
                <img [src]="product.image" alt="" />
              </ion-col>
  
              <ion-col class="product-info">
  
                <h2>{{product.name}}</h2>
                <p>{{product.category}}</p>
                <button ion-button color="primary" (click)="openItem(product)">
                  veja mais                 
                  <span class="next-icon"> &#8250; </span>
                </button>
  
              </ion-col>
  
            </ion-row>
  
  
          </div>
  
        </ion-grid>

        <!-- <div ng-if="currentItems.lenght === 0">
            <h3 class="loading">
              Carregando
            </h3>
        </div> -->
  
      </div>
      
    </div>
  
  </ion-content>