
 <ion-content padding class="bg-light">
    
      <div class="subsidiaries-title page-title-solaris">
        <h2>Encontre a Solaris mais perto de você</h2>
      </div>
      <ion-item class="dropdow-solaris" hidden>
        <ion-label>Estado</ion-label>
        <ion-select [(ngModel)]="state" multiple=false interface="alert" okText="OK" cancelText="Cancelar">
          <ion-option *ngFor="let state of states" [value]="state">{{state.name}}</ion-option>
        </ion-select>
      </ion-item>
    
      <ion-item class="dropdow-solaris" hidden>
        <ion-label>Cidade</ion-label>
        <ion-select [(ngModel)]="city" multiple=false interface="alert" okText="OK" cancelText="Cancelar">
          <ion-option *ngFor="let city of cities" [value]="city">{{city.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let affiliated of affiliateds">
          <div class="show-modal" (click)="showAffiliatedDetail(affiliated)"> 
              {{affiliated.name}}
              <span class="arrow-icon">
                  &#8250;
              </span>
          </div>
         

        </ion-item>
      </ion-list>

    </ion-content>