<ion-menu [content]="content">
    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
        </ion-list>
    </ion-content>
</ion-menu>


<script src="http://maps.google.com/maps/api/js?key=AIzaSyBWaT1tfH8DYOXUHsWKDTwY-mGzELiPPjo"></script>

<ion-nav #content [root]="rootPage"></ion-nav>