<ion-content padding class="bg-light">
  <div class="error-container">
    <div class="error-logo">
      <img src="assets/img/error-logo.png" alt="SOLARIS">
    </div>

    <div class="error-body">
      <p>
        Não foi possível carregar as informações necessárias. <br>
        Por favor verifique sua conexão com a internet. <br>

        <button ion-button color="secondary" (click)="tryAgain()">
          tentar novamente
        </button>
      </p>
    </div>

  </div>
 

</ion-content>