page-error {
    .error-container{
        text-align: center;
        margin-top: 20%;
        
        .error-logo{
             & img {
                 width: 70%;
                 height: auto;
             }
        }
        .error-body{
            padding: 2em 2em;
            font-size: 1.1em;

            button {
                margin-top: 10%;
            }
        }
    }
}
